<div class="row">
    <div class="col col-col-lg-12">
        <div class="card mb-3">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Accounts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let app of applications">
                            <td>{{app.name}}</td>
                            <td></td>
                            <td>{{app.accounts.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<createApp-modal [apps]="applications"></createApp-modal>
